inputs_def:
  - handle: df
    json_schema:
      type:
        - string
        - number
        - integer
        - boolean
        - object
        - array
        - "null"
      contentMediaType: oomol/var
  - handle: title
    json_schema:
      contentMediaType: oomol/var
      type: string
  - handle: x_column
    json_schema:
      contentMediaType: oomol/var
      type: string
  - handle: y_column
    json_schema:
      contentMediaType: oomol/var
      type: string
  - handle: color
    json_schema:
      contentMediaType: oomol/var
      type: string
      ui:widget: color
      ui:options:
        colorType: RGB
outputs_def:
  - handle: df
    description: Output
    json_schema:
      contentMediaType: oomol/var
      type:
        - string
        - number
        - integer
        - boolean
        - object
        - array
        - "null"
icon: https://api.iconify.design/logos:python.svg?color=%23888888
ui:
  default_width: 530
executor:
  name: python
  options:
    spawn: false
    entry: main.py
